<!DOCTYPE html>
<html>
<head>
	<title>MOOCs</title>
	{% load staticfiles %}
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

</head>
<body>
<div style="width: 100%; text-align: center; height: 100%">
<img src="{% static 'kapp/images/mooc-courses.jpg'%}" style="top: 15%; ">
<form action="{% url 'search' %}"  method="get"> 
	<center>
		<input type="text" name="q" style="width: 40%;">
	<br><br><br>
	<input type="submit" name="submit" value="Search" style="width: 100px; height: 40px; font-family: 'Roboto Slab', serif; font-size: 18px;">
	</center>
</form>
<div style="font-size: 30px; font-family: 'Raleway', sans-serif;">
	Search for an <b>online course</b>
</div>
</div>
</body>
</html>